@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 55%);
    --very-dark-gray: hsl(0, 0%, 41%);
  }

  *,
  *::before,
  *::after {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html,
  main {
    overflow-x: hidden;
    font-family: 'Alata', sans-serif;
  }

  body::-webkit-scrollbar {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Josefin Sans', sans-serif;
  }
}

@layer utilities {
  .layout-container {
    @apply mx-auto w-full max-w-[1850px];
  }

  .container-wrap {
    @apply container mx-auto px-5 md:px-10 xl:px-48;
  }

  .section-padding {
    @apply py-24;
  }

  button {
    @apply py-2 px-10 text-sm uppercase hover:bg-black hover:text-white;
    border: 1px solid var(--black);
    letter-spacing: 4px;
    transition: all 0.5s ease-in-out;
  }
}

@layer components {
  header {
    height: 80vh;
    background: url(assets/images/desktop/image-hero.jpg);
    background-size: cover;
  }

  nav .nav-links {
    @apply hidden lg:block;
  }

  .mobile-nav {
    @apply absolute top-20 bg-black w-full p-10;
    transition: all 0.3s;
  }

  .mobile-nav ul {
    @apply flex-col items-center;
  }

  ul {
    @apply flex gap-5 text-white;
  }

  ul li {
    @apply relative pb-2;
    position: relative;
    overflow: hidden;
  }

  ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: left 0.5s ease-in-out;
    z-index: 1;
  }

  ul li:hover::before {
    left: 0;
    background-color: rgb(161, 0, 0);
  }

  /* Hero */
  .hero {
    @apply mt-20;
  }

  .hero-text-box {
    @apply text-white p-5 md:w-[450px];
    border: 1px solid var(--white);
  }

  .hero-text-box h2 {
    @apply text-4xl lg:text-[50px] uppercase;
    line-height: 50px;
  }

  /* VR */
  .vr-text {
    @apply p-10 lg:p-16 bg-white text-sm lg:ml-[-140px] text-center lg:text-left;
    color: var(--dark-gray);
  }

  .vr-box img {
    @apply lg:w-[600px] xl:w-[750px];
  }

  .vr-text h2 {
    @apply text-2xl lg:text-4xl uppercase mb-6 text-black;
  }

  /* Creations */
  .creation-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.703));
  }

  /* Footer */
  .copywrite {
    color: var(--very-dark-gray);
  }
}
